@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0a0f12;

  --card: oklch(0.98 0 0);
  --card-foreground: #0a0f12;

  --border: oklch(0.9 0 0); /* subtle instagram border */

  --accent: oklch(0.75 0.25 350); /* instagram pink/red */
  --accent-foreground: oklch(1 0 0);
}

.dark {
  --background: #0a0f12;
  --foreground: #ffffff;

  --card: oklch(0.22 0 0);
  --card-foreground: oklch(0.98 0 0);

  --border: oklch(0.3 0 0 / 0.6); /* dark soft border */

  --accent: oklch(0.7 0.25 20); /* dark pink */
  --accent-foreground: oklch(0.98 0 0);
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--border);
    border-style: solid;
    border-width: 0;
  }
  .card {
    @apply shadow-sm dark:shadow-none;
  }

 body {
    @apply bg-background text-foreground;
    transition:
      background-color 300ms ease,
      color 300ms ease;
  }
}

.font-handlee {
  font-family: var(--font-handlee), cursive;
}
/* ===== CUSTOM Chat SCROLLBAR  ===== */

::-webkit-scrollbar-thumb:hover {
  background-color: #7b7b7b !important;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.2s ease;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
